apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-bcfpzrtr
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-bcfpzrtr:fe973fd09ffd4f49db4cd504cf762f3c746472bb@sha256:8ddcab91014e2b2b14431d426d0d9f357869079215dff4d8e9b0656384fc0279
          name: container-image
